## Loading SQL Extension

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Importing Required Modules

In [23]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

## Loading Configuration From dwh.cfg

In [24]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","db")
DWH_DB_USER= config.get("CLUSTER","db_user")
DWH_DB_PASSWORD= config.get("CLUSTER","db_password")
DWH_PORT = config.get("CLUSTER","port")
DWH_STAGING_DATA_FORMAT = config.get("CLUSTER","dataformat")
DWH_CLUSTER_REGION = config.get("CLUSTER","region")
S3_LOG_DATA_LOCATION = config.get("S3", "log_data")
S3_SONG_DATA_LOCATION = config.get("S3", "song_data")

## Update DWH_ENDPOINT and DWH_ROLE_ARN in the following block and execute

In [25]:
# FILL IN THE REDSHIFT ENDPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT=""
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN=""

## Connet to AWS Redshift Instance

In [26]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh

## Create Staging Tables

In [27]:
%%sql

DROP TABLE IF EXISTS STAGING_EVENTS CASCADE;
DROP TABLE IF EXISTS STAGING_SONGS CASCADE;

CREATE TABLE STAGING_SONGS 
(
        NUM_SONGS           INTEGER      ,
        ARTIST_ID           VARCHAR(200) ,
        ARTIST_LATITUDE     FLOAT        ,
        ARTIST_LONGITUDE    FLOAT        ,
        ARTIST_LOCATION     VARCHAR(200) ,
        ARTIST_NAME         VARCHAR(200) ,
        SONG_ID             VARCHAR(200) ,   
        TITLE               VARCHAR(200) ,
        DURATION            FLOAT        ,
        YEAR                INTEGER     
);

CREATE TABLE STAGING_EVENTS 
(
        ARTIST          VARCHAR(200),
        AUTH            VARCHAR(200),
        FIRSTNAME       VARCHAR(200),
        GENDER          CHARACTER,
        ITEMINSESSION   INTEGER,
        LASTNAME        VARCHAR(200),
        LENGTH          FLOAT,
        LEVEL           VARCHAR(200),
        LOCATION        VARCHAR(200),
        METHOD          VARCHAR(200),
        PAGE            VARCHAR(200),
        REGISTRATION    FLOAT,
        SESSIONID       INTEGER,
        SONG            VARCHAR(200),
        STATUS          INTEGER,
        TS              TIMESTAMP,
        USERAGENT       VARCHAR(200),           
        USERID          INTEGER
);

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
Done.
Done.

[]

## INSERT data into Staging Tables

In [29]:
%%time

copy_data_to_staging_events = """
    copy staging_events from {}
    iam_role '{}' 
    {} 'auto ignorecase' compupdate off region '{}'
    TIMEFORMAT as 'epochmillisecs';
""".format(S3_LOG_DATA_LOCATION, DWH_ROLE_ARN, DWH_STAGING_DATA_FORMAT, DWH_CLUSTER_REGION)

%sql $copy_data_to_staging_events

copy_data_to_staging_songs = """
    copy staging_songs from {}
    iam_role '{}' 
    {} 'auto ignorecase' compupdate off region '{}'
    TIMEFORMAT as 'epochmillisecs';
""".format(S3_SONG_DATA_LOCATION, DWH_ROLE_ARN, DWH_STAGING_DATA_FORMAT, DWH_CLUSTER_REGION)

%sql $copy_data_to_staging_songs

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 14.8 ms, sys: 23.3 ms, total: 38.1 ms
Wall time: 3min 55s

[]

## Checking Errors in the Copying In Case Last Step Fails

In [ ]:
%%sql
SELECT *
FROM stl_load_errors errors
LIMIT 5

## Retrieve data from Staging Songs Table

In [30]:
%%sql
SELECT * FROM STAGING_SONGS limit 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR9Q9YC1187FB5609B', None, None, 'New Jersey', 'Quest_ Pup_ Kevo', 'SOFRDWL12A58A7CEF7', 'Hit Da Scene', 252.94322, 0),
 (1, 'ARSZ7L31187FB4E610', 39.74001, -104.99226, 'Denver, CO', 'Devotchka', 'SORRNOC12AB017F52B', 'The Last Beat Of My Heart (b-side)', 337.81506, 2004),
 (1, 'ARKYKXP11F50C47A6A', None, None, '', 'The Supersuckers', 'SONQPZK12AB0182D84', 'Double Wide', 160.20853, 0),
 (1, 'ARN4G4X1187FB485B4', 54.31392, -2.23218, 'Great Britain / UK', 'The Donkeys', 'SOSLGRK12A58A76E90', 'Excelsior Lady', 214.96118, 0),
 (1, 'ARZD4UW1187B9AB3D2', 40.71455, -74.00712, 'NEW YORK, New York', 'Latin Lover', 'SOIAQCE12AAF3B562B', 'Laser Light', 401.10975, 2000)]

## Query STAGING_EVENTS 10 Rows

In [31]:
%%sql
SELECT * FROM STAGING_EVENTS limit 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.91138, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, datetime.datetime(2018, 11, 5, 0, 33, 12, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Nirvana', 'Logged In', 'Aleena', 'F', 0, 'Kirby', 214.77832, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Serve The Servants', 200, datetime.datetime(2018, 11, 5, 1, 27, 22, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('Television', 'Logged In', 'Aleena', 'F', 1, 'Kirby', 238.49751, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'See No Evil  (Remastered LP Version)', 200, datetime.datetime(2018, 11, 5, 1, 30, 56, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('JOHN COLTRANE', 'Logged In', 'Aleena', 'F', 2, 'Kirby', 346.43546, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, 'Blues To Bechet (LP Version)', 200, datetime.datetime(2018, 11, 5, 1, 34, 54, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44),
 ('NOFX', 'Logged In', 'Aleena', 'F', 3, 'Kirby', 80.79628, 'paid', 'Waterloo-Cedar Falls, IA', 'PUT', 'NextSong', 1541022995796.0, 237, "It's My Job To Keep Punk Rock Elite", 200, datetime.datetime(2018, 11, 5, 1, 40, 40, 796000), 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 44)]

## Getting Total Row Count from STAGING_SONGS

In [32]:
%%sql
SELECT count(*) as TOTAL_STAGING_SONGS FROM STAGING_SONGS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [39]:
%%sql
SELECT count(*) as TOTAL_STAGING_EVENTS FROM STAGING_EVENTS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

## Checking Duplicates in STAGING_SONGS Table for SONG_ID

In [33]:
%%sql
SELECT count(*) FROM STAGING_SONGS WHERE SONG_ID = 'SOBRKGM12A8C139EF6'

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1,)]

## Checking Duplicates in STAGING_SONGS Table for Artist_ID

In [34]:
%%sql
SELECT count(*) FROM STAGING_SONGS WHERE artist_id = 'AREWD471187FB49873'

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1,)]

## Checking Duplicates in STAGING_SONGS Table By ArtistID

In [35]:
%%sql
SELECT ARTIST_ID, COUNT(*) AS Count_Duplicate
FROM STAGING_SONGS
 GROUP BY ARTIST_ID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC 
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARUPWVD1187FB4DA36', 9),
 ('ARYPTWE1187FB49D64', 9),
 ('ARAO91X1187B98CCA4', 8),
 ('ARD2NDU1187B99B615', 8),
 ('AR62BB21187B9AC83D', 8)]

## Checking Duplicates in STAGING_EVENTS Table By UserId

In [36]:
%%sql
SELECT USERID, COUNT(*) AS Count_Duplicate
FROM STAGING_EVENTS
 GROUP BY USERID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(49, 772), (80, 740), (97, 595), (15, 495), (44, 439)]

## Checking Duplicates in STAGING_SONGS Table by SONG_ID

In [37]:
%%sql
SELECT count(SONG_ID), COUNT(*) AS Count_Duplicate
FROM STAGING_SONGS
 GROUP BY SONG_ID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## Checking Entries in STAGING_EVENTS Table Where USER_ID is NULL

In [38]:
%%sql
SELECT count(*) as TOTAL_STAGING_EVENTS FROM STAGING_EVENTS WHERE USERID IS NULL;

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(286,)]

# Populating Dimension Tables from Staging Tables

## Creating/Inserting data into Users dimentions table

In [40]:
%%time
%%sql
DROP TABLE IF EXISTS USERS cascade;

CREATE TABLE IF NOT EXISTS USERS (
        USER_ID INTEGER NOT NULL,
        FIRST_NAME VARCHAR NOT NULL,
        LAST_NAME VARCHAR,
        GENDER VARCHAR,
        LEVEL VARCHAR,
        PRIMARY KEY (USER_ID)
    );
    
INSERT INTO USERS (USER_ID, FIRST_NAME, LAST_NAME, GENDER, LEVEL)
    SELECT DISTINCT m.USERID    AS USER_ID,
           m.FIRSTNAME          AS FIRST_NAME,
           m.LASTNAME           AS LAST_NAME, 
           m.GENDER             AS GENDER,
           m.LEVEL              AS LEVEL
    FROM STAGING_EVENTS m
    WHERE m.USERID IS NOT NULL AND ts = (select max(ts) FROM staging_events s WHERE s.userId = m.userId)
    ORDER BY m.userId DESC

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
97 rows affected.
CPU times: user 10.7 ms, sys: 17.4 ms, total: 28.1 ms
Wall time: 28.6 s

[]

## Getting the total rows from Users Table

In [41]:
%%sql
SELECT count(*)
FROM USERS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(97,)]

## Checking for duplicate data by specific user

In [42]:
%%sql
SELECT *
FROM USERS
WHERE USER_ID = 15;

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(15, 'Lily', 'Koch', 'F', 'paid')]

## Checking if Users table has duplicate rows

In [43]:
%%sql
SELECT USER_ID, COUNT(*) AS Count_Duplicate
FROM USERS
 GROUP BY USER_ID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## Insert/Creating data into artists table

In [44]:
%%time
%%sql
DROP TABLE IF EXISTS ARTISTS CASCADE;

CREATE TABLE IF NOT EXISTS ARTISTS (
        ARTIST_ID VARCHAR(20),
        NAME VARCHAR,
        LOCATION VARCHAR,
        LATITUDE FLOAT,
        LONGITUDE FLOAT,
        PRIMARY KEY (ARTIST_ID)
    );

INSERT INTO ARTISTS (ARTIST_ID, NAME, LOCATION, LATITUDE, LONGITUDE)
    SELECT DISTINCT S.ARTIST_ID        AS ARTIST_ID,
           S.ARTIST_NAME               AS NAME, 
           S.ARTIST_LOCATION           AS LOCATION, 
           S.ARTIST_LATITUDE           AS LATITUDE,
           S.ARTIST_LONGITUDE          AS LONGITUDE
    FROM STAGING_SONGS AS S
    WHERE S.ARTIST_ID IS NOT NULL AND S.ARTIST_ID NOT IN (SELECT DISTINCT(ARTIST_ID) FROM ARTISTS)

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
10025 rows affected.
CPU times: user 9.07 ms, sys: 5.2 ms, total: 14.3 ms
Wall time: 3.87 s

[]

## Retrieve data from ARTISTS Table

In [45]:
%%sql
SELECT ARTIST_ID, COUNT(*) AS Count_Duplicate
FROM ARTISTS
 GROUP BY ARTIST_ID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARTE9CG1187B99B1AF', 4),
 ('AR065TW1187FB4C3A5', 4),
 ('ARV481W1187FB38CD9', 4),
 ('ARZ5H0P1187B98A1DD', 4),
 ('ARMD3XX1187B9ACF84', 4)]

In [46]:
%%sql
SELECT count(*) FROM ARTISTS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

## CREATING SONGS TABLE AND INSERTING INTO SONGS

In [48]:
%%sql
DROP TABLE IF EXISTS SONGS CASCADE;

CREATE TABLE IF NOT EXISTS SONGS (
        SONG_ID VARCHAR(20),
        ARTIST_ID VARCHAR(20) ,
        TITLE VARCHAR,
        YEAR INTEGER,
        DURATION INTEGER,
        PRIMARY KEY (SONG_ID),
        FOREIGN KEY (ARTIST_ID) REFERENCES ARTISTS (ARTIST_ID)
    );

INSERT INTO SONGS (SONG_ID, ARTIST_ID, TITLE, YEAR, DURATION)
    SELECT DISTINCT S.SONG_ID   AS SONG_ID,
           S.ARTIST_ID          AS ARTIST_ID,
           S.TITLE              AS TITLE, 
           S.YEAR               AS YEAR, 
           S.DURATION           AS DURATION
    FROM STAGING_SONGS AS S
    WHERE S.SONG_ID IS NOT NULL AND S.SONG_ID NOT IN (SELECT DISTINCT (SONG_ID) FROM SONGS)

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
14896 rows affected.

[]

## Checking Duplicates in SONGS Table

In [49]:
%%sql
SELECT SONG_ID, COUNT(*) AS Count_Duplicate
FROM SONGS
 GROUP BY SONG_ID
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## Retrieve data from SONGS Table

In [50]:
%%sql
SELECT count(*) FROM SONGS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

## Create Time Table and Insert Into Time Table

In [52]:
%%sql
DROP TABLE IF EXISTS TIME CASCADE;
    
CREATE TABLE IF NOT EXISTS TIME (
        START_TIME  TIMESTAMP,
        HOUR        INTEGER,
        DAY         VARCHAR,
        WEEK        INTEGER,
        MONTH       INTEGER,
        YEAR        INTEGER,
        WEEKDAY     BOOLEAN,
        PRIMARY KEY (START_TIME)
    );
    
INSERT INTO TIME (START_TIME, HOUR, DAY, WEEK, MONTH, YEAR, WEEKDAY) 
    SELECT DISTINCT ts                                          AS START_TIME,
           EXTRACT(hour FROM ts)                                AS hour, 
           EXTRACT(day FROM ts)                                 AS day, 
           EXTRACT(week FROM ts)                                AS week, 
           EXTRACT(month FROM ts)                               AS month, 
           EXTRACT(year FROM ts)                                AS year, 
           CASE WHEN EXTRACT(dayofweek FROM ts) IN (6, 7) THEN true ELSE false END AS weekday
    FROM STAGING_EVENTS AS S
    WHERE S.TS IS NOT NULL AND S.TS NOT IN (SELECT DISTINCT (START_TIME) FROM TIME)

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
8023 rows affected.

[]

## Check for duplicates

In [53]:
%%sql
SELECT START_TIME, COUNT(*) AS Count_Duplicate
FROM TIME
 GROUP BY START_TIME
 HAVING COUNT(*) > 1
 ORDER BY COUNT(*) DESC
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## Getting 5 rows from Time table

In [54]:
%%sql
SELECT count(*) FROM TIME

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

## Create SONGPLAYS Table and INSERT DATA INTO SONGPLAYS

In [55]:
%%sql
DROP TABLE IF EXISTS SONGPLAYS;

CREATE TABLE IF NOT EXISTS SONGPLAYS (
        SONGPLAY_ID INTEGER IDENTITY(0,1),
        USER_ID INTEGER,
        SONG_ID VARCHAR,
        ARTIST_ID VARCHAR,
        START_TIME TIMESTAMP,
        SESSION_ID INTEGER,
        LEVEL VARCHAR,
        LOCATION VARCHAR,
        USER_AGENT VARCHAR,
        PRIMARY KEY (SONGPLAY_ID),
        FOREIGN KEY (USER_ID) REFERENCES USERS (USER_ID),
        FOREIGN KEY (SONG_ID) REFERENCES SONGS (SONG_ID),
        FOREIGN KEY (ARTIST_ID) REFERENCES ARTISTS (ARTIST_ID),
        FOREIGN KEY (START_TIME) REFERENCES TIME (START_TIME)
    );
    
INSERT INTO SONGPLAYS (USER_ID, SONG_ID, ARTIST_ID, START_TIME, SESSION_ID, LEVEL, LOCATION, USER_AGENT)
    SELECT E.USERID         AS USER_ID,
           S.SONG_ID        AS SONG_ID,
           S.ARTIST_ID      AS ARTIST_ID, 
           E.TS             AS START_TIME, 
           E.SESSIONID      AS SESSION_ID, 
           E.LEVEL          AS LEVEL, 
           E.LOCATION       AS LOCATION, 
           E.USERAGENT      AS USER_AGENT
    FROM STAGING_EVENTS AS E
    LEFT OUTER JOIN STAGING_SONGS AS S ON ( E.ARTIST = S.ARTIST_NAME AND E.SONG = S.TITLE AND E.LENGTH = S.DURATION )
    WHERE E.USERID IS NOT NULL AND E.PAGE = 'NextSong'

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.
6820 rows affected.

[]

## Retrieve data from SONGPLAYS Table

In [56]:
%%sql
SELECT count(*) FROM SONGPLAYS

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [57]:
%%sql
DROP TABLE IF EXISTS STAGING_EVENTS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [58]:
%%sql
DROP TABLE IF EXISTS STAGING_SONGS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [59]:
%%sql
DROP TABLE IF EXISTS SONGPLAYS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [60]:
%%sql
DROP TABLE IF EXISTS USERS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [61]:
%%sql
DROP TABLE IF EXISTS SONGS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [62]:
%%sql
DROP TABLE IF EXISTS ARTISTS CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [63]:
%%sql
DROP TABLE IF EXISTS TIME CASCADE

 * postgresql://dwhuser:***@dwhcluster.cao2lka6hx7w.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]